body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Wheel Styling  */
.wheelBox{
  height: 200px;
  width: 250px;
  background-color: #cdcdd0;
  border:0.5px solid black;
  padding:5px;
 
}
.flexR{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexC{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Prop{
  width: 100vw;
}
.wheelRotate{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  position: relative;
}
.wheelok{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #bbbbb0;
}
.wheelBord{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 1px 2px 2px 2px #a09292 ;

}
/* App styling  */
.icon{
  height: 20px;
  width: 20px;
}
.applist{
  padding:15px;
  background-color: white;
  height: 190px;
  width: 220px;
  border-radius: 10px;

}
/* Display List of menus styling */
.list-content{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-content a{
  padding: 5px;
    border-bottom: 1px solid black;
    font-size: 25px;
    font-family: fangsong;
    display: flex;
    justify-content: space-between;
}
.listBord{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 1px 2px 2px 2px #a09292 ; 
  height: 250px;

}
/* Menu items and options Styling */
.active{
  background-color: lightgray;
}

#coverpic{
  height: 6rem;
  width:7rem
}
.flex-r{
  display: flex;
  justify-content: space-between;
}
.flex-c{
  display:flex;
  flex-direction: column;
  margin-left: 10px;
}
hr{
  height: 5px;
  background: silver;
  padding: 0;
  border-radius: 20px;
}




